#main-map {
  border: 2px solid black;
  height: 500px;
}

#map-input {
  border: 2px solid black;
  background: #fff;
  height: 500px;
}

.pet-form-wrapper {
  margin-top: 20px;
  background: #ccc;
  border: 2px solid #555;
}

.registrar-form label {
  font-weight: bold;
}

.registrar-form textarea {
  min-height: 100px;
}

.info-window {
  height: 100%;
  width: 300px;
}

.info-window img {
  max-width: 150px !important;
  max-height: 150px !important;
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
}

.info-window hr {
  clear: both;
}

.red {
  color: red;
}

.name {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

#error {
  animation-name: pulse;
  animation-duration: 1s;
  text-align: center;
  color: red;
  margin-top: 10px;
}